[submodule "configs/vim/bundle/a.vim"]
	path = configs/vim/bundle/a.vim
	url = git://github.com/vim-scripts/a.vim.git
    ignore = all
[submodule "configs/vim/bundle/indent-motion"]
	path = configs/vim/bundle/indent-motion
	url = git://github.com/vim-scripts/indent-motion.git
    ignore = all
[submodule "configs/vim/bundle/matchit.zip"]
	path = configs/vim/bundle/matchit.zip
	url = git://github.com/vim-scripts/matchit.zip.git
    ignore = all
[submodule "configs/vim/bundle/tagbar"]
	path = configs/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
    ignore = all
[submodule "configs/vim/bundle/minibufexpl.vim"]
	path = configs/vim/bundle/minibufexpl.vim
	url = git://github.com/fholgado/minibufexpl.vim.git
    ignore = all
[submodule "configs/vim/bundle/nerdtree"]
    path = configs/vim/bundle/nerdtree
    url = git://github.com/scrooloose/nerdtree.git
    ignore = all
[submodule "configs/vim/bundle/vim-easymotion"]
    path = configs/vim/bundle/vim-easymotion
    url = git://github.com/Lokaltog/vim-easymotion.git
    ignore = all
[submodule "configs/vim/bundle/vim-fugitive"]
	path = configs/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
    ignore = all
[submodule "configs/vim/bundle/vim-pathogen"]
	path = configs/vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
    ignore = all
[submodule "configs/vim/bundle/xmledit"]
    path = configs/vim/bundle/xmledit
    url = git://github.com/sukima/xmledit.git
    ignore = all
